.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #b416b4;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #040404;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #111111;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/my-profile.jpg");
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #0eb6f8; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #0eb6f8; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #0eb6f8; }

.nav-item:nth-child(1) {
  transition-delay: 0.2s; }

.nav-item:nth-child(2) {
  transition-delay: 0.4s; }

.nav-item:nth-child(3) {
  transition-delay: 0.6s; }

.nav-item:nth-child(4) {
  transition-delay: 0.8s; }

* {
  box-sizing: border-box; }

body {
  background: #111111;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(17, 17, 17, 0.9); }

.scroll {
  display: none; }

h1,
h2,
h3 {
  position: relative;
  overflow: hidden;
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6vw; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 2.5vw;
    margin-bottom: 2rem;
    margin-left: 1.2rem;
    padding: 0.2rem 1rem;
    background: rgba(22, 22, 22, 0.3); }

.pretty-html {
  color: #b416b4;
  font-size: 5vw; }

.logo {
  position: absolute;
  z-index: 0;
  padding-top: 0;
  margin-top: 0;
  top: -110px;
  left: -50px;
  height: 350px;
  width: 350px;
  transition: all 0.5s ease-out; }

.css-typing {
  width: 70%;
  border-right: 0.15em solid #333333;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation: type3 3s steps(5, end), blink 0.5s step-end infinite alternate;
  animation: type3 3.5s steps(18, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes type3 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes type3 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

@-webkit-keyframes blink {
  50% {
    border-color: transparent; } }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #0eb6f8; }

main {
  padding: 4rem;
  padding-top: 8rem;
  height: 100%;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem;
    margin-left: 2rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #0eb6f8;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 15vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: #0eb6f8 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10rem;
  color: #000;
  font-weight: 500; }

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #b416b4;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px; }

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%; }

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: #fff;
  background-size: cover;
  border: 4px solid #0eb6f8;
  top: 15px;
  border-radius: 50%;
  z-index: 1; }

/* Place the container to the left */
.left {
  left: 0; }

/* Place the container to the right */
.right {
  left: 50%; }

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white; }

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent; }

/* Fix the circle for containers on the right side */
.right::after {
  left: -17px; }

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px; }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px; }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 12px; }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%; } }

#skills {
  background: #1e1e1e; }

.skills-classification {
  font-size: 31px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.2rem 1rem;
  background: #045f83; }

.skills-section {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr); }
  .skills-section .skills-logo {
    height: 80px; }

.projects {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    height: 350px;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #0eb6f8;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 1.5rem;
    border: 1px #fff solid;
    border-radius: 15px;
    padding: 1.0rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 1rem 2.0rem;
      background: #0583b4;
      color: #fff;
      cursor: pointer; }
      .boxes div:hover span {
        color: #fff; }

/* ///// inputs /////*/
.contact-container {
  z-index: -1; }

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease; }

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px; }

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%; } }

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none; }

.styled-input.wide {
  width: 650px;
  max-width: 100%; }

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px; }

input:focus,
textarea:focus {
  outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease; }

textarea {
  width: 100%;
  min-height: 15em; }

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto; }

.submit-btn {
  float: right;
  padding: 7px 35px;
  border: 1px #fff solid;
  border-radius: 15px;
  display: inline-block;
  background-color: #1a1919;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

.submit-btn:hover {
  transform: translateY(3px);
  background-color: #05719b; }

@media (max-width: 768px) {
  .submit-btn {
    width: 50%;
    padding: 7px 10px;
    float: none;
    text-align: center; } }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #0583b4;
    color: #fff; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #919191;
  color: #333; }

::-webkit-scrollbar {
  width: 14px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #575656;
  background-color: #023b51; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0695cd; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #045f83; }

#main-footer {
  z-index: 1;
  text-align: center;
  padding: 1rem;
  background: black;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
    .projects img {
      height: 350px; }
  main .lg-heading {
    font-size: 4vw; }
  main .sm-heading {
    font-size: 2vw; }
  main .pretty-html {
    font-size: 3vw; }
  main .css-typing {
    width: 45%; }
  .skills-section {
    grid-template-columns: repeat(5, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
    .projects img {
      height: 250px; }
  .lg-heading {
    font-size: 4vw; }
  .skills-section {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 2.5rem; }
    main .sm-heading {
      margin-left: 0; }
    main .css-typing {
      width: 100%; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
    .projects img {
      height: 200px; }
  .skills-section {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 1.9rem;
    padding-top: 6rem; }
    main#home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 2.1rem; }
    main .sm-heading {
      font-size: 1.2rem;
      margin-left: 0; }
    main .pretty-html {
      font-size: 1.5rem; }
  .logo {
    left: -120px; }
  .css-typing {
    width: 100%; }
  .projects {
    grid-template-columns: 1fr; }
    .projects img {
      height: 250px; }
  .boxes > div {
    font-size: 1.2rem; }
  .skills-classification {
    font-size: 22px; }
  .skills-section {
    margin-left: 40%;
    grid-template-columns: repeat(1, 1fr); }
  .about-info .bio-image {
    height: 150px;
    width: 150px; }
  .about-info .bio > p {
    font-size: 20px; }
  .timeline {
    margin-top: 4rem; } }
