.menu-nav {
    display: flex;
    list-style: none;
    width: 70%;
    height: 100%;
    justify-content: space-evenly;
    opacity: 0;

    margin-left: auto;
    font-size: 20px;


    animation: 1s fadein 0.3s forwards;


    .nav-item {
        &.current>a {
            color: $secondary-color;
        }
    }



}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    100% {
        opacity: 0.8;
    }
}

ul li a {

    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px;
    position: relative;


}

ul.borderXwidth a:before,
ul.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: $secondary-color;
    transition: all 0.3s;
}

ul.borderXwidth a:before {
    left: 0px;
    top: 0px;
}

ul.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
}

ul.borderXwidth a:hover:before,
ul.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}