// Widescreens
@include mediaXl {

    .projects {
        grid-template-columns: repeat(4, 1fr);

        img {
            height: 350px;

        }
    }

    main {
        .lg-heading {
            font-size: 4vw;

        }

        .sm-heading {
            font-size: 2vw;
        }

        .pretty-html {
            font-size: 3vw;
        }

        .css-typing {
            width: 45%;
        }

    }

    .skills-section {
        grid-template-columns: repeat(5, 1fr);
    }


}

// Desktops and laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);

        img {
            height: 250px;
        }
    }

    .lg-heading {
        font-size: 4vw;
    }



    .skills-section {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Tablets 
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 2.5rem;

        }

        .sm-heading {
            margin-left: 0;
        }

        .css-typing {
            width: 100%;
        }

    }


    .menu-btn {
        position: absolute;
        z-index: 3;
        right: 35px;
        top: 35px;
        cursor: pointer;

        @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            //background: set-text-color($primary-color);
            background: #fff;
            @include easeOut;

        }

        //Rotate into X with menu lines
        &.close {
            transform: rotate(180deg);

            .btn-line {


                //line 1 rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                //line 2 hide
                &:nth-child(2) {
                    opacity: 0;
                }

                //line 3 rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    .menu-btn-back {
        padding: 10px;
        background: rgb(20, 20, 20);
        border-radius: 15%;
    }

    //  Menu overlay
    .menu {
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.97;
        visibility: hidden;

        &.show {
            visibility: visible;
        }


        &-nav {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            float: left;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        &-nav {
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #141e30, #132131);
            list-style: none;
            // clip-path: circle(100px at 90% -10%);
            // -webkit-clip-path: circle(100px at 90% -10%);
            transition: all 0.3s ease-out;
            transform: translate3d(0, -100%, 0);
            // @include easeOut;

            &.show {
                //Slide in from top
                transform: translate3d(0, 0, 0);
                // clip-path: circle(1500px at 90% -10%);
                // -webkit-clip-path: circle(1500px at 90% -10%);
            }
        }



        .nav-item {
            transform: translate3d(2000px, 0, 0);
            @include easeOut;

            &.show {
                //Slide in from right
                transform: translate3d(0, 0, 0);
            }

            &.current>a {
                color: $secondary-color;
            }
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 30px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: set-text-color($primary-color);
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    // delay for nav items slide 0.1s
    @for $x from 1 through 6 {
        .nav-item:nth-child(#{$x}) {
            transition-delay: $x * 0.2s;
        }
    }






    .about-info {
        grid-template-areas:
            'bioimage'
            'bio';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);

        img {
            height: 200px;
        }
    }

    .skills-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .top-button {
        display: none;
    }
}

// Smartphones
@include mediaSm {
    main {
        padding: 1.9rem;
        padding-top: 6rem;

        &#home h1 {
            margin-top: 10vh;
        }

        .lg-heading {
            margin-top: 1rem;
            font-size: 2.1rem;

        }

        .sm-heading {
            font-size: 1.2rem;
            margin-left: -10px;
        }

        .pretty-html {
            font-size: 1.5rem;
        }


    }

    .logo {
        left: -120px;
    }

    .css-typing {
        width: 100%;
    }

    .projects {
        grid-template-columns: 1fr;

        img {
            height: 250px;
        }
    }

    .option i {
        width: 40px;


    }

    .text {
        left: -160px;
    }

    .skills-classification {
        font-size: 22px;

    }

    .skills-section {
        margin-left: 40%;
        grid-template-columns: repeat(1, 1fr);


    }

    .next_js {
        margin-right: 50%;

    }

    .about-info {
        .bio-image {
            height: 150px;
            width: 150px;
        }

        .bio>p {
            font-size: 20px;
        }


    }

    .timeline {
        margin-top: 4rem;
    }



}