// Widescreens
@include mediaXl {

    .projects {
        grid-template-columns: repeat(4, 1fr);

        img {
            height: 350px;

        }
    }

    main {
        .lg-heading {
            font-size: 4vw;

        }

        .sm-heading {
            font-size: 2vw;
        }

        .pretty-html {
            font-size: 3vw;
        }

        .css-typing {
            width: 45%;
        }

    }

    .skills-section {
        grid-template-columns: repeat(5, 1fr);
    }


}

// Desktops and laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);

        img {
            height: 250px;
        }
    }

    .lg-heading {
        font-size: 4vw;
    }



    .skills-section {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Tablets 
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 2.5rem;

        }

        .sm-heading {
            margin-left: 0;
        }

        .css-typing {
            width: 100%;
        }

    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }

    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            width: 150px;
            height: 150px;
        }
    }


    .about-info {
        grid-template-areas:
            'bioimage'
            'bio';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);

        img {
            height: 200px;
        }
    }

    .skills-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Smartphones
@include mediaSm {
    main {
        padding: 1.9rem;
        padding-top: 6rem;

        &#home h1 {
            margin-top: 10vh;
        }

        .lg-heading {
            margin-top: 1rem;
            font-size: 2.1rem;

        }

        .sm-heading {
            font-size: 1.2rem;
            margin-left: 0;
        }

        .pretty-html {
            font-size: 1.5rem;
        }


    }

    .logo {
        left: -120px;
    }

    .css-typing {
        width: 100%;
    }

    .projects {
        grid-template-columns: 1fr;

        img {
            height: 250px;
        }
    }

    .boxes>div {
        font-size: 1.2rem;
    }

    .skills-classification {
        font-size: 22px;

    }

    .skills-section {
        margin-left: 40%;
        grid-template-columns: repeat(1, 1fr);
    }

    .about-info {
        .bio-image {
            height: 150px;
            width: 150px;
        }

        .bio>p {
            font-size: 20px;
        }


    }

    .timeline {
        margin-top: 4rem;
    }



}