@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $third-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}











.scroll {
    display: none;
}

//headings
h1,
h2,
h3 {
    position: relative;
    overflow: hidden;
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6vw;
    }

    &.sm-heading {
        font-size: 2.5vw;
        margin-bottom: 2rem;
        margin-left: 1.1rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, $amount: 9), 0.3);
    }
}

.pretty-html {
    color: $pretty-purple;
    font-size: 5vw;
}

.logo {
    position: absolute;
    z-index: 0;
    padding-top: 0;
    margin-top: 0;
    top: -110px;
    left: -50px;
    height: 350px;
    width: 350px;
    @include easeOut;
}

.css-typing {
    width: 70%;

    border-right: .15em solid rgb(51, 51, 51);
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: type3 3s steps(5, end), blink .5s step-end infinite alternate;
    animation: type3 3.5s steps(18, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    padding-top: 8rem;
    // margin-top: 2rem;
    height: 100%;

    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;
        margin-left: 2rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 15vh;
        }
    }
}

//About Page
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio';

    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: 50% -3%;
        margin: 0 auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
}

//Timeline
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10rem;
    color: #000;
    font-weight: 500;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: $pretty-purple;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.recommendation-link {
    color: rgb(0, 17, 255);
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: #fff;
    background-size: cover;
    border: 4px solid $secondary-color;
    top: 15px;
    border-radius: 50%;
    z-index: 1;

}



/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -17px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 12px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}



//Skills page
#skills {
    background: $third-color;
}

.skills-classification {
    font-size: 31px;
    margin-bottom: 2rem;
    margin-top: 2rem;

    padding: 0.2rem 1rem;
    background: darken(#202f4b, 10);
}

.skills-section {
    display: grid;
    grid-gap: 50px;

    grid-template-columns: repeat(4, 1fr);

    .skills-logo {
        height: 80px;
    }


}

.gatsby {
    width: 150px;
    height: 50px;
}

.next_js {
    color: #000;
    font-weight: bold;
}

//Work/Projects
.projects {
    display: grid;

    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        height: 350px;

        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }



}



$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    color: #000;

    a {
        color: inherit;

        &:hover {
            color: $secondary-color;
        }
    }

    &:hover {
        .photo {
            transform: scale(1.3) rotate(3deg);
        }
    }

    .meta {
        position: relative;
        z-index: 0;
        height: 200px;
    }

    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform .2s;
    }

    .details,
    .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(#000, .6);
        color: $color_white;
        padding: 10px;
        width: 100%;
        font-size: .9rem;

        a {
            text-decoration: solid underline;
        }

        ul li {
            display: inline-block;
        }

        .author:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 10px;
            content: "\f007";
        }

        a.disabled {
            pointer-events: none;
            cursor: default;
        }

        .date:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 10px;
            content: "\f133";
        }

        .tags {
            ul:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f02b";
                margin-right: 10px;
            }

            li {
                margin-right: 2px;

                &:first-child {
                    margin-left: -4px;
                }
            }
        }
    }

    .description {
        padding: 1rem;
        background: $color_white;
        position: relative;
        z-index: 1;

        h1,
        h2 {
            font-family: Poppins, sans-serif;
        }

        h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.7rem;
        }

        h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-top: 5px;
        }

        .read-more {
            text-align: right;

            a {
                color: darken($secondary-color, 1);
                display: inline-block;
                position: relative;
                padding: 10px;

                &:after {
                    content: "\f061";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    margin-left: -10px;
                    opacity: 0;
                    vertical-align: middle;
                    transition: margin .3s, opacity .3s;
                }

                &:hover:after {
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
    }

    p {
        position: relative;
        margin: 1rem 0 0;

        &:first-of-type {
            margin-top: 1.25rem;

            &:before {
                content: "";
                position: absolute;
                height: 5px;
                background: $secondary-color;
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }

    &:hover {
        .details {
            left: 0%;
        }
    }


    @media (min-width: 640px) {
        flex-direction: row;
        max-width: 700px;

        .meta {
            flex-basis: 40%;
            height: auto;
        }

        .description {
            flex-basis: 60%;

            &:before {
                transform: skewX(-3deg);
                content: "";
                background: #fff;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
        }

        &.alt {
            flex-direction: row-reverse;

            .description {
                &:before {
                    left: inherit;
                    right: -10px;
                    transform: skew(3deg)
                }
            }

            .details {
                padding-left: 25px;
            }
        }
    }
}































//Contact page

.contact-info {
    position: fixed;
    top: 43%;
    z-index: 99999;
    left: 0;
}

.option {
    cursor: pointer;
    position: relative;
}

.option i {
    display: block;
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background: $secondary-color;
    color: #ffffff;
    font-size: 20px;
    transition: 0.6s;

}

.option:hover i {
    color: #000;
}

.text {
    position: absolute;
    height: 60px;
    width: 200px;
    background: darken(#141e30, 4);
    top: 0;
    z-index: -1;
    left: -140px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    transition: 0.6s;
}

.option:hover .text {
    left: 60px;
}


//contact form 
/* ///// inputs /////*/

.contact-container {
    z-index: -1;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: darken(#141e30, 3);
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border: 1px rgb(163, 163, 163) solid;
    border-radius: 15px;
    display: inline-block;
    background-color: darken(#141e30, 1);
    color: rgb(192, 191, 191);
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(3px);

    background-color: darken(#21364e, 2);

}

@media (max-width: 768px) {
    .submit-btn {
        width: 50%;
        padding: 7px 10px;
        float: none;
        text-align: center;
    }
}




//Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: darken($secondary-color, 15);
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

::-webkit-scrollbar {
    width: 14px;

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgb(87, 86, 86);
    background-color: darken($secondary-color, $amount: 35);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darken($secondary-color, 25);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($secondary-color, 25);
}

.top-button {
    position: fixed;
    bottom: 5%;
    right: 2%;
    padding: 10px;
    border-radius: 20%;
    background: darken($secondary-color, 25);
    border: 3px solid darken($secondary-color, 40);
    cursor: pointer;
    text-decoration: none;



    &:hover {
        transform: scale(1.1);
    }

}

//footer 
#main-footer {
    z-index: 1;
    text-align: center;
    padding: 1rem;
    background: darken(#141e30, 4);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';