@import 'config';
@import 'menu';



* {
    box-sizing: border-box;

}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings
h1,
h2,
h3 {
    position: relative;
    overflow: hidden;
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6vw;
    }

    &.sm-heading {
        font-size: 2.5vw;
        margin-bottom: 2rem;
        margin-left: 1.2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, $amount: 2), 0.5);


    }
}

.pretty-html {
    color: rgb(180, 22, 180);
    font-size: 5vw;
}

.logo {
    position: absolute;
    z-index: 3;
    padding-top: 0;
    margin-top: 0;
    top: -110px;
    left: -50px;
    height: 350px;
    width: 350px;
    @include easeOut;



}




.css-typing {
    width: 70%;

    border-right: .15em solid rgb(51, 51, 51);
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: type3 3s steps(5, end), blink .5s step-end infinite alternate;
    animation: type3 3.5s steps(18, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}





a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {

    padding: 4rem;
    height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;
        margin-left: 2rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut;

            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}

//About Page
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio';

    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        width: 250px;
        height: 250px;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }



}

//Skills page
#skills {
    background: lighten($primary-color, 5);
}

.skills-classification {
    font-size: 31px;
    margin-bottom: 2rem;
    margin-top: 2rem;

    padding: 0.2rem 1rem;
    background: darken($secondary-color, 25);
}

.skills-section {
    display: grid;
    grid-gap: 50px;

    grid-template-columns: repeat(4, 1fr);

    .skills-logo {

        height: 80px;


    }
}

//Work/Projects
.projects {
    display: grid;

    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        height: 350px;


        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

//Contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 1rem 2.0rem;
            background: darken($secondary-color, 15);
            color: set-text-color($secondary-color);
            cursor: pointer;

            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}


//Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: darken($secondary-color, 15);
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;

}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}



@import 'mobile';